div(ng-if="expenses !== False")
    h3.title.is-3 List of expenses
    hr
    div
        input.input.is-primary(type="text", placeholder="Search for expenses" autofocus ng-model="query")
        label.label Sort By
        p.control
            span.select
                select(ng-model="expenseOrder")
                    option(value="expense" selected) Expense
                    option(value="expense_time") Time
            label.radio
                input(type="radio" ng-model="direction" name="direction" checked)
                span Asc
            label.radio
                input(type="radio" ng-model="direction" name="direction" value="reverse")
                span Desc
    hr
    table.table.is-striped
        thead
            tr
                th #
                th Description
                th Time
                th Amount
        tbody
            tr(ng-repeat="expense in expenses | filter: query | orderBy: expenseOrder:direction")
                td {{$index + 1}}
                td 
                    a(href="#/details/{{expense.id}}") {{expense.description}}
                td {{expense.expense_time}}
                td Rs. {{expense.expense}}

div(ng-if="expenses == False")
    h3.title.is-3 No expenses available
    hr