extends layout

block content
  header.nav
    .container
      .nav-left.nav-menu
        a.nav-item(href="#/list") Expenses          
        a.nav-item(href="#/add") Add          
  .columns.is-mobile
    .column.is-half.is-offset-one-quarter
      div(ng-view)
    
  