doctype html
html(ng-app="myApp")
  head
    title= title
    
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='/javascripts/angular/angular.min.js')
    script(type='text/javascript', src='/javascripts/angular/angular-route.min.js')

    script(type='text/javascript', src='/javascripts/modules.js')
    script(type='text/javascript', src='/javascripts/controllers.js')

  body
    block content
